#{ifnot workUpdate?.id}
    <h3>Write, <span>a new post</span></h3>
#{/ifnot}
#{else}
    <h3>Edit, <span>this post</span></h3>
#{/else}
#{form @save(workUpdate?.id)}
${workUpdate.item}
${workUpdate.customer}
${workUpdate.service}
${workUpdate.status}
${workUpdate.UpdatedAt}
         <p>
        #{field 'status'}
        <label>Status:</label>
        <input type="text" name="${field.name}"
            value="${workUpdate?.status}" />
                #{/field}
    </p>
    <p>
        <input type="submit" value="Publish this" />
    </p>
#{/form}