<!--
To change this template, choose Tools | Templates
and open the template rin the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        Customer_secured.welcome.html
        <h1>Welcome to Service Center</h1>
    <li>
        <a class="btn" href="@{Customer_unsecured.register()}">Register</a>
    </li>
    <li>
        <a class="btn" href="@{Secure.login()}">Login</a>
    </li>
    <li>
        <a class="btn" href="@{Customer_unsecured.all_services()}">Services Offered</a>
    </li>
    <li>
        Request a new service
    </li>
    <li>
        Check the status of your request
    </li>
    <li>
        <a class="btn" href="@{Customer_unsecured.feedback()}">Let us know what you think</a>
    </li>
    <li>
        <a class="btn" href="@{Secure.logout()}">Log out</a>
    </li>
    <h3> ${c.email} recently chose : </h3>



    #{if i}
    <p>
        ${i.item_name}
    </p>
    #{/if}
    #{if s}
    <p>
        ${s.service_description}
    </p>
    #{/if}
    #{if c}
    <p>
        ${c.email} as ${c.customer_type} 's history
    </p>
    #{list items:c.services, as:'service'}

    <p>

        ${service.service_name}

    </p>
    #{/list}

    #{list items:c.items, as:'item'}
    <p>


        ${item.item_name}
    </p>
    #{/list}
    #{/if}
    #{else}
    <div class="empty">
        Please contact out help desk.
    </div>
    #{/else}

</body>
</html>
