#{extends 'main.html' /}
<h3>You are logged in as a Customer</h3>

#{form @Application.add_Service()}
<p>
<h4> Add Service :</h4>
<label for="service_name">New Service name: </label>
<input type="text" name="service_name" id="service_name" />
</p>
<p>
    <label for="service_description"> Give a brief description about the service you want to create: </label>
    <textarea name="service_description" id="service_description"></textarea>
</p>
<p>
    <input type="submit" value="Submit" />
</p>
#{/form}
#{form @Application.add_Item()}
<p>
<h4> Add Item :</h4>
<label for="item_name">New item name: </label>
<input type="text" name="item_name" id="item_name" />
</p>
<p>
    <input type="submit" value="Submit" />
</p>
#{/form}
#{form @Application.add_Customer()} 
<p>
<h4> Add Customer :</h4>
<label for="email">Email ID: </label>
<input type="text" name="email" id="email" />
</p>
<p>
    <label for="password">Password : </label>
    <input type="text" name="password" id="password" />
</p>
<p>
    <label for="fullname">Customer name : </label>
    <input type="text" name="fullname" id="fullname" />
</p>
<p>
    <label for="customer_type">Customer type : </label>
    <!--    <input type="text" name="customer_type" id="customer_type" />-->
    #{list items:customer_types, as:'customer_type'}
    <select>
        <option>customer_type</option>
    </select>
    #{/list}
</p>
<p>
    <input type="submit" value="Submit" />
</p>
#{/form}


<!--
#{welcome /}
-->