<!--#{extends 'main.html' /}
#{cache 'home-' + new_workUpdates.status, for:'15min'}

#{list items:new_workUpdates, as:'new_workUpdate'}
$(new_workUpdate.status)
#{/list}
	...
#{/cache}
<h2> Welcome Service Engineer, </h2>
<h3><span> No. of new tickets : ${new_workUpdates.size() ?: 'no'}
        ${new_workUpdates.pluralize('ticket', 'tickets')} so far</span></h3>

#{list items:new_workUpdates, as:'new1'}
<p class="post ${new1_parity}"> <a href="@{Application.form(new1.id)}">${new1.status}</a>
</p>
#{/list}
<h3> <span> No. of tickets in Queue : ${started_workUpdates.size() ?: 'no'}
        ${new_workUpdates.pluralize('ticket', 'tickets')} so far</span></h3>
#{list items:started_workUpdates, as:'started'}
<p class="post ${started_parity}"> <a href="@{Application.form(started.id)}">${started.ticket_no}</a>
</p>
#{/list}
<h3> <span> No. of closed tickets : ${closed_workUpdates.size() ?: 'no'}
        ${new_workUpdates.pluralize('ticket', 'tickets')} so far</span></h3>
#{list items:closed_workUpdates, as:'closed'}
<p class="post ${closed_parity}"> <a href="@{Application.form(closed.id)}">${closed.ticket_no}</a>
</p>
#{/list}-->